// greyscale
$primary-accent: #3b3d3f;
$secondary-accent: #008E89;
$tertiary-accent: black;
$subdued: rgba(127, 132, 145, .8);
$background-color: black;
$content-text: #3e454d;
$highlight-yellow: #fff200;
