<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}Mo Lindo: Front-End Engineer{% endif %}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="Mo Lindo">
  <meta name="description" content="{{ site.description }}">
  {% if page.title %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cagedcrown">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:image" content="{{ site.url }}/img/crwn-logo.png">
    <meta name="twitter:url" content="{{ site.url }}" />
  {% endif %}

  <link rel="canonical" href="{{ pageurl }}">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <!-- Custom CSS -->
  <style type="text/css">
    {% capture include_to_scssify %}{% include main.scss %}{% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>
  {% if page.scripts %}
    {% for script in page.scripts %}
      <script src="{{ script }}"></script>
    {% endfor %}
  {% endif %}
</head>
